---
export interface Props {
  size?: 'sm' | 'md' | 'lg';
}

const { size = 'md' } = Astro.props;

const sizeMap = {
  sm: 'w-4 h-4',
  md: 'w-5 h-5',
  lg: 'w-6 h-6',
};

const academics = [
  {
    label: 'Google Scholar',
    href: 'https://scholar.google.com/citations?user=ZH3qXdUAAAAJ&hl=en&authuser=1',
    svg: `<svg fill="currentColor" viewBox="0 0 24 24" style="width:100%;height:100%"><path d="M5.242 13.769L0 9.5 12 0l12 9.5-5.242 4.269C17.548 11.249 14.978 9.5 12 9.5c-2.977 0-5.548 1.748-6.758 4.269zM12 10a7 7 0 1 0 0 14 7 7 0 0 0 0-14z"/></svg>`,
  },
  {
    label: 'ACL Anthology',
    href: 'https://aclanthology.org/people/faiz-ghifari-haznitrama/',
    svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 46" style="width:100%;height:100%"><path fill="currentColor" d="M41.98 0v3.02H7.49 0v7.48 27.98 7.52h7.49 42.01 7.49 11.01V31H56.98V10.52 3.02C56.98 1.45 56.98 1.77 56.98 0zM15.01 17.99h26.97v13H15.01z"/></svg>`,
  },
  {
    label: 'DBLP',
    href: 'https://dblp.org/pid/371/3974',
    svg: `<svg fill="currentColor" viewBox="0 0 24 24" style="width:100%;height:100%"><path d="M3.075.002c-.096.013-.154.092-.094.31L4.97 7.73 3.1 8.6s-.56.26-.4.85l2.45 9.159s.16.59.72.33l6.169-2.869 1.3-.61s.52-.24.42-.79l-.01-.06-1.13-4.22-.658-2.45-.672-2.49v-.04s-.16-.59-.84-1L3.5.141s-.265-.16-.425-.139zM18.324 5.03a.724.724 0 0 0-.193.06l-5.602 2.6.862 3.2 1.09 4.08.01.06c.05.47-.411.79-.411.79l-1.88.87.5 1.89.04.1c.07.17.28.6.81.91l6.95 4.269s.68.41.52-.17l-1.981-7.4 1.861-.86s.56-.26.4-.85L18.85 5.42s-.116-.452-.526-.39z"/></svg>`,
  },
  {
    label: 'OpenReview',
    href: 'https://openreview.net/profile?id=%7EFaiz_Ghifari_Haznitrama1',
    svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width:100%;height:100%"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-14h2v3h2.5l-.37 2H13v4h2v2.5l-2 .75-2-.75V15h-1v-2h1V6z"/></svg>`,
  },
  {
    label: 'ORCID',
    href: 'https://orcid.org/0009-0005-0342-9261',
    svg: `<svg fill="currentColor" viewBox="0 0 24 24" style="width:100%;height:100%"><path d="M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0zM7.369 4.378c.525 0 .947.431.947.947s-.422.947-.947.947a.95.95 0 0 1-.947-.947c0-.525.422-.947.947-.947zm-.722 3.038h1.444v10.041H6.647V7.416zm3.562 0h3.9c3.712 0 5.344 2.653 5.344 5.025 0 2.578-2.016 5.025-5.325 5.025h-3.919V7.416zm1.444 1.303v7.444h2.297c3.272 0 4.022-2.484 4.022-3.722 0-2.016-1.284-3.722-4.097-3.722h-2.222z"/></svg>`,
  },
  {
    label: 'Semantic Scholar',
    href: 'https://www.semanticscholar.org/author/Faiz-Ghifari-Haznitrama/2287841290',
    svg: `<svg fill="currentColor" viewBox="0 0 24 24" style="width:100%;height:100%"><path d="M24 8.609c-.848.536-1.436.83-2.146 1.245-4.152 2.509-8.15 5.295-11.247 8.981l-1.488 1.817-4.568-7.268c1.021.814 3.564 3.098 4.603 3.599l3.356-2.526c2.336-1.644 8.946-5.226 11.49-5.848ZM8.046 15.201c.346.277.692.537.969.744.761-3.668.121-7.613-1.886-11.039 3.374-.052 6.731-.087 10.105-.139a14.794 14.794 0 0 1 1.298 5.295c.294-.156.588-.294.883-.433-.104-1.868-.641-3.91-1.662-6.263-4.602-.018-9.188-.018-13.79-.018 2.993 3.547 4.36 7.839 4.083 11.853Zm-.623-.484c.087.086.191.155.277.225-.138-3.409-1.419-6.887-3.824-9.881H1.73c3.098 2.855 4.984 6.299 5.693 9.656Zm-.744-.658c.104.087.208.173.329.277-.9-2.526-2.492-5.018-4.741-7.198H0c2.89 2.076 5.122 4.481 6.679 6.921Z"/></svg>`,
  },
];

---

<div class="flex flex-wrap gap-3">
  {academics.map(social => (
    <a
      href={social.href}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={social.label}
      title={social.label}
      class="inline-flex items-center justify-center w-10 h-10 rounded-lg text-gray-500 dark:text-gray-400 hover:text-indigo-600 dark:hover:text-indigo-400 hover:bg-indigo-50 dark:hover:bg-indigo-900/20 transition-all duration-200 no-underline"
    >
      <span class={sizeMap[size] + " inline-flex items-center justify-center overflow-hidden"} set:html={social.svg} />
    </a>
  ))}
</div>
